In [19]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [82]:
df = pd.read_csv('/Users/chengyinliu/PCA_Normalized.dat', header = None)
df_new = pd.read_csv('/Users/chengyinliu/D/2019_Spring/DSO562_Fraud Analytics/ASSIGNMENTS/WEEK_2/NY property data.csv')

In [83]:
BBLE = df_new['BBLE']

In [84]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.501644,-0.321356,-0.380120,-0.394689,0.487550,0.699028,-0.881291,0.152125,1000010101,0.007656,-0.200903,-0.083504,-0.309477,0.135144,0.697469,-0.313586,0.152684
1,4.403986,15.835488,7.275422,-3.941386,1.574292,15.976702,4.185198,1.205638,1000010201,-9.904111,-2.572336,6.946357,-11.350331,-3.296932,15.945585,-9.857885,1.150846
2,-0.002926,0.070414,-0.009448,0.080993,-0.012177,-0.090780,-0.046973,0.063897,1000020001,0.089771,0.015383,-0.002536,0.012793,-0.022364,-0.090918,0.023613,0.063876
3,0.035272,-0.062505,-0.065339,0.002021,-0.037041,-0.070131,-0.107690,-0.016916,1000020023,0.107408,-0.015708,-0.027699,0.023225,-0.003769,-0.070177,0.011712,-0.017030
4,8.014345,-3.546332,-2.735559,-4.058080,-10.132589,9.134098,-10.622919,-13.945797,1000030001,-2.757011,-6.163456,0.191990,-2.687720,-0.047591,9.168504,-5.228469,-13.967564

In [85]:
df_o = df.iloc[:,0:8]

In [86]:
df_o.head()

,0,1,2,3,4,5,6,7
0,0.501644,-0.321356,-0.380120,-0.394689,0.487550,0.699028,-0.881291,0.152125
1,4.403986,15.835488,7.275422,-3.941386,1.574292,15.976702,4.185198,1.205638
2,-0.002926,0.070414,-0.009448,0.080993,-0.012177,-0.090780,-0.046973,0.063897
3,0.035272,-0.062505,-0.065339,0.002021,-0.037041,-0.070131,-0.107690,-0.016916
4,8.014345,-3.546332,-2.735559,-4.058080,-10.132589,9.134098,-10.622919,-13.945797

In [87]:
df_n = df.iloc[:,9:]

In [88]:
df_n.head()

,9,10,11,12,13,14,15,16
0,0.007656,-0.200903,-0.083504,-0.309477,0.135144,0.697469,-0.313586,0.152684
1,-9.904111,-2.572336,6.946357,-11.350331,-3.296932,15.945585,-9.857885,1.150846
2,0.089771,0.015383,-0.002536,0.012793,-0.022364,-0.090918,0.023613,0.063876
3,0.107408,-0.015708,-0.027699,0.023225,-0.003769,-0.070177,0.011712,-0.017030
4,-2.757011,-6.163456,0.191990,-2.687720,-0.047591,9.168504,-5.228469,-13.967564

In [89]:
a = df_n.values
b = df_o.values

In [90]:
df = pd.DataFrame(a - b)

In [91]:
df.head()

,0,1,2,3,4,5,6,7
0,-0.493988,0.120452,0.296616,0.085212,-0.352406,-0.001559,0.567706,0.000559
1,-14.308096,-18.407824,-0.329065,-7.408945,-4.871224,-0.031117,-14.043083,-0.054792
2,0.092697,-0.055031,0.006911,-0.068200,-0.010186,-0.000138,0.070586,-0.000021
3,0.072136,0.046798,0.037640,0.021204,0.033272,-0.000046,0.119401,-0.000114
4,-10.771356,-2.617124,2.927549,1.370360,10.084998,0.034406,5.394450,-0.021766

In [92]:
df['sum'] = df.apply(np.sum, axis = 1)

In [93]:
df.head()

,0,1,2,3,4,5,6,7,sum
0,-0.493988,0.120452,0.296616,0.085212,-0.352406,-0.001559,0.567706,0.000559,0.222591
1,-14.308096,-18.407824,-0.329065,-7.408945,-4.871224,-0.031117,-14.043083,-0.054792,-59.454146
2,0.092697,-0.055031,0.006911,-0.068200,-0.010186,-0.000138,0.070586,-0.000021,0.036617
3,0.072136,0.046798,0.037640,0.021204,0.033272,-0.000046,0.119401,-0.000114,0.330290
4,-10.771356,-2.617124,2.927549,1.370360,10.084998,0.034406,5.394450,-0.021766,6.401516

In [94]:
df["BBLE"] = BBLE

In [95]:
df.head()

,0,1,2,3,4,5,6,7,sum,BBLE
0,-0.493988,0.120452,0.296616,0.085212,-0.352406,-0.001559,0.567706,0.000559,0.222591,1000010101
1,-14.308096,-18.407824,-0.329065,-7.408945,-4.871224,-0.031117,-14.043083,-0.054792,-59.454146,1000010201
2,0.092697,-0.055031,0.006911,-0.068200,-0.010186,-0.000138,0.070586,-0.000021,0.036617,1000020001
3,0.072136,0.046798,0.037640,0.021204,0.033272,-0.000046,0.119401,-0.000114,0.330290,1000020023
4,-10.771356,-2.617124,2.927549,1.370360,10.084998,0.034406,5.394450,-0.021766,6.401516,1000030001

In [96]:
df.sort_values('sum', ascending = False)

,0,1,2,3,4,5,6,7,sum,BBLE
293329,-135.545038,68.229175,92.390849,17.519367,252.783016,0.133423,-22.767868,-0.188976,272.553947,3011170001
398250,-109.562333,56.602817,75.293033,5.219385,200.155846,0.050214,-5.016397,-0.080485,222.662081,3044520002
85885,-227.468120,-34.005652,69.781125,31.312928,216.432202,-0.281659,108.060003,0.286001,164.116827,1012540010
245572,-82.301784,28.359800,52.538978,-7.786399,137.517818,-0.108589,26.999413,0.041948,155.261184,2055830100
917941,-69.847850,125.587606,95.693377,67.221325,94.252499,2.061763,-156.911429,-3.455809,154.601480,4142600001
638690,-130.560091,30.962364,63.311500,11.401714,147.072732,0.007821,27.494396,-0.121265,149.569170,4020180001
248664,-94.613873,77.698771,88.544181,-6.218545,60.558052,0.198291,17.440239,-0.253247,143.353869,2056500001
501142,-63.102222,30.689007,42.497662,5.804313,115.912210,0.018668,-5.457465,0.014280,126.376454,3069440165
642966,-69.014109,29.397833,41.530237,2.894070,109.598569,0.020501,1.566216,0.020586,116.013903,4022800001
964933,-60.985380,26.827499,39.572679,10.047783,100.563378,0.012092,-6.202720,-0.003032,109.832299,5009020001
886633,-53.740907,40.004589,44.164819,1.373897,80.588585,0.012446,-5.537467,0.126423,106.992385,4124060122
835932,-65.540824,23.112144,38.434920,3.874347,93.755108,0.002973,8.912352,0.015145,102.566166,4104530023
985596,-44.374998,24.351590,32.831023,-3.031415,87.883255,0.003108,1.523129,0.053568,99.239260,5023590001
771993,-56.008431,24.265471,34.330041,0.931090,86.889948,0.014069,2.686867,0.040204,93.149260,4077230010
691873,-45.686507,20.889833,30.221563,7.840508,82.389726,0.013712,-8.258830,-0.018924,87.391081,4039071050
992603,-45.520185,30.940203,37.141539,4.278396,61.980952,-0.022588,-5.387688,0.103723,83.514351,5026650020
134442,-47.053371,9.854603,25.071728,-8.874109,78.436959,0.016466,24.607838,-0.005181,82.054934,1018970001
964947,-43.671795,19.279196,28.376533,7.226268,72.124004,0.008338,-4.447220,-0.007648,78.887676,5009050001
209711,-38.894540,18.846362,27.232700,4.208902,70.001919,0.004230,-2.736658,0.016303,78.679218,2043350001
297158,-39.214090,18.813768,26.395372,2.617873,70.298949,0.007513,-1.735533,0.015021,77.198872,3011830001
177303,-38.803326,13.438335,24.830999,-3.720560,65.098962,0.001704,12.781512,0.042116,73.669741,2034630001
179210,-37.753989,13.109348,24.163067,-3.591925,63.347989,0.002689,12.412427,0.040794,71.730399,2035430001
921879,-34.312912,20.048138,23.487727,-3.503279,62.453449,0.001835,2.635545,0.051861,70.862362,4156490300
720599,-31.900527,18.814319,22.745280,-5.488028,61.702872,0.000937,4.827828,0.062203,70.764883,4051730006
764311,-36.613764,18.497500,23.419037,0.236427,60.861739,0.004332,0.893730,0.026141,67.325143,4072900001
665157,-35.804768,17.957411,22.712187,0.933629,58.971738,0.004629,0.131580,0.019863,64.926267,4030720001
957063,-42.754079,9.076949,22.884200,16.345416,65.335501,0.052376,-8.182189,-0.100591,62.657582,5006830001
729561,-29.635242,16.769164,20.220587,-2.128969,53.914824,0.002148,1.769601,0.038018,60.950130,4055090430
771988,-40.023553,32.419115,33.279130,2.932519,36.477069,-0.025711,-4.899854,0.133704,60.292418,4077200100
918203,-135.576375,53.884374,78.092956,65.654212,30.262654,-0.212154,-32.503638,-0.021268,59.580761,4151000700
...,...,...,...,...,...,...,...,...,...,...
84957,-21.803533,-30.679128,-0.587644,-23.271248,-6.889411,-0.002889,-34.056423,0.008001,-117.282274,1012470036
86945,-30.918393,-35.581975,4.257833,-25.719129,-12.812755,-0.182723,-19.107870,-0.039130,-120.104142,1012710038
823223,-74.486567,59.684817,0.951592,-25.227794,-114.544043,0.077014,32.609275,0.259901,-120.675805,4098940047
75680,-24.477115,-34.892207,-0.566670,-24.914052,-7.717771,0.000266,-41.762899,-0.005966,-134.336413,1011630041
918304,-23.999882,-31.281898,-0.849566,-25.705144,-8.656953,0.032075,-45.125426,0.051969,-135.534826,4153080215
84955,-26.099787,-36.926015,-0.692989,-27.885251,-8.105093,-0.000919,-40.944462,0.000224,-140.654291,1012470034
84968,-27.457037,-38.898846,-0.725851,-29.342212,-8.489523,-0.000322,-43.119383,-0.002734,-148.035908,1012470135
84956,-27.457037,-38.898846,-0.725851,-29.342212,-8.489523,-0.000322,-43.119383,-0.002734,-148.035908,1012470035
97083,-27.823648,-42.514412,0.879054,-38.204748,-5.500886,0.035120,-38.184839,0.132237,-151.182122,1013730001
132748,-29.422046,-45.979826,-1.129366,-28.758093,-8.033811,-0.061029,-43.344908,-0.084063,-156.813143,1018750046E
585119,-46.496205,63.308615,49.985006,58.216328,-236.085611,0.674821,-45.934025,-1.377504,-157.708575,4004200101
60468,-29.816777,-38.938267,-1.001746,-23.354562,-9.717190,-0.036104,-55.936270,-0.100532,-158.901447,1010330001
1067000,-116.595453,-10.890164,3.505727,-19.744248,-167.585331,-0.077637,139.346583,0.136148,-171.904374,5078120132
106619,-35.135032,-47.300347,-0.791437,-40.871092,-12.224489,0.019794,-46.749574,0.049514,-183.002663,1014520002
655390,-31.129101,-43.233253,0.089163,-35.710705,-8.926351,0.088248,-65.975851,0.112337,-184.685512,4028160061
821852,-30.553098,-117.042344,-1.193731,-82.374958,2.388969,-0.136551,30.175560,0.083160,-198.652992,4098350040E
781433,-35.003600,-44.174825,-0.321246,-30.041167,-11.332884,0.071539,-79.195098,-0.030396,-200.027677,4083000396
106680,-45.397332,-55.403817,-1.103708,-50.767435,-19.794846,0.029406,-56.053579,0.067739,-228.423572,1014530027
200179,-40.153167,-56.685109,-0.338868,-39.598863,-11.753911,0.098192,-86.448075,-0.005677,-234.885478,2039580150
585438,-102.074247,52.748731,58.686733,38.088249,-345.988206,0.112104,52.278294,-0.023980,-246.172321,4004590005
935157,-131.056414,106.221684,-10.632325,-31.159400,-228.598789,0.074264,37.761302,-0.076044,-257.465722,5000130060
585117,-76.871970,100.080708,81.492737,92.639296,-379.531635,2.855430,-73.895453,-5.201611,-258.432497,4004200001
684703,-46.419990,-59.391983,-0.291509,-42.844690,-14.682211,0.140012,-103.457764,-0.015182,-266.963318,4036590105
565391,-444.068467,-245.489908,247.594703,123.782598,42.479204,0.080695,-46.012210,0.042160,-321.591225,3085900700
116646,-63.897423,-90.019817,-1.521764,-61.014362,-19.583474,-0.153088,-109.109980,-0.243345,-345.543253,1015410021
230595,-102.665709,-131.146721,-2.565073,-73.239573,-33.368288,-1.070773,-223.927226,-0.494625,-568.477987,2049910126
776305,-137.185074,-555.054391,-8.448697,-493.495487,21.940696,0.065798,413.394842,-0.088188,-758.870501,4080100001
750815,-154.609367,-207.713722,-0.347389,-162.282927,-45.874114,0.051917,-334.866862,1.263909,-904.378555,4066610005E
632815,-922.778025,395.842088,-413.555405,-218.636418,-398.535592,-11.524377,212.223448,18.292071,-1338.672211,4018420001
1067359,-334.248481,-496.350610,-37.741205,-87.799109,-128.680241,-137.209384,-624.318128,-0.227343,-1846.574501,5078530085

In [74]:
from keras.models import Model
from keras.layers import Input, Dense

df = pd.read_csv("/Users/chengyinliu/PCA.csv", index_col = 0)

encoding_dim = 4
input_layer = Input(shape=(8,))
encoder = Dense(encoding_dim, activation='tanh')(input_layer)
decoder = Dense(8, activation='tanh')(encoder)
autoencoder = Model(input_layer, decoder)


autoencoder.compile(optimizer='adam',
                    loss='mean_squared_error')


autoencoder.fit(df, df,
                epochs=3,
                batch_size=32,
                shuffle=True)

Epoch 1/3
1070994/1070994 [==============================] - 23s 22us/step - loss: 0.9804
Epoch 2/3
1070994/1070994 [==============================] - 23s 21us/step - loss: 0.9771
Epoch 3/3
1070994/1070994 [==============================] - 22s 21us/step - loss: 0.9766

In [75]:
df_new = autoencoder.predict(df)

In [76]:
df_new2 = pd.DataFrame(df_new)

In [77]:
df_new2.head()

,0,1,2,3,4,5,6,7
0,0.451319,-0.391842,-0.509378,-0.326001,0.874103,-0.083852,-0.025384,0.431468
1,0.400114,-0.584583,0.997454,0.997387,0.999992,-0.993993,0.954877,0.984363
2,-0.016739,0.000549,0.084210,-0.005866,-0.005753,-0.024615,-0.079887,-0.027142
3,0.032430,-0.044784,-0.037581,-0.140623,0.041112,-0.032453,-0.166677,0.067624
4,0.965146,-0.967591,-0.960388,-0.997056,0.999936,-0.922915,-0.993351,0.997492

In [78]:
new2 = pd.DataFrame(df.values - df_new)

In [79]:
new2['sum'] = new2.apply(np.sum, axis = 1)

In [56]:
df.head()

,0,1,2,3,4,5,6,7
0,0.275429,-0.251655,-0.408204,0.314377,1.168940,0.304470,-0.129236,0.605491
1,0.699177,-0.907691,7.270555,3.254374,8.942633,-7.638284,2.125981,2.699764
2,-0.001459,-0.014881,0.094918,0.038615,-0.015218,0.043801,-0.067558,0.012459
3,0.037838,-0.038835,-0.027698,-0.024951,0.044644,0.027380,-0.151486,0.074440
4,5.889846,-3.506308,-1.507594,-12.177238,12.544221,-1.395918,-16.877855,13.099793

In [53]:
?pd.read_csv

In [80]:
new2["BBLE"] = BBLE

In [81]:
new2.sort_values('sum', ascending = False).head()

,0,1,2,3,4,5,6,7,sum,BBLE
585438,64.252057,-74.291274,-155.217127,312.735799,468.271341,197.009493,282.790021,403.164459,1498.714769,4004590005
632815,719.352113,735.285512,28.166202,46.902116,-46.172007,-9.306204,0.064174,-12.769482,1461.522424,4018420001
776305,13.050325,-48.320772,791.951336,248.081218,151.145351,320.376975,-192.454314,-53.064625,1230.765494,4080100001
917941,98.151259,-106.924697,-89.505683,41.469670,210.813187,131.578905,439.459869,-111.339701,613.702809,4142600001
935157,65.702636,-11.963640,-77.796024,196.487137,114.310512,89.504750,268.134848,-128.430307,515.949912,5000130060

In [72]:
df.sort_values('sum', ascending = False).head()

KeyError: 'sum'

In [99]:
BB = new2.sort_values('sum', ascending = False)['BBLE']

In [101]:
BB

585438      4004590005
632815      4018420001
776305      4080100001
917941      4142600001
935157      5000130060
823223      4098940047
1067000     5078120132
920627      4155770029
127321      1018190010
794104      4089460045
1067359     5078530085
821852     4098350040E
556608      3083120001
565391      3085900700
797935      4090550033
794105      4089460047
1070427     5080340027
638690      4020180001
562741      3084950041
330290      3019190001
1070514     5080370006
304343      3013430005
127152      1018020034
235454      2051410440
33750       1006940042
304342      3013430004
566502      3086310024
304355      3013430025
304353      3013430016
7054       1000580001E
              ...
911834      4137260020
918204      4152000001
665157      4030720001
764311      4072900001
964947      5009050001
297158      3011830001
179210      2035430001
720599      4051730006
177303      2034630001
921879      4156490300
134442      1018970001
691873      4039071050
209711      2043350001
771988      4077200100
771993      4077230010
992603      5026650020
964933      5009020001
985596      5023590001
85885       1012540010
642966      4022800001
886633      4124060122
501142      3069440165
918203      4151000700
245572      2055830100
585119      4004200101
248664      2056500001
398250      3044520002
293329      3011170001
565397      3085910100
585117      4004200001
Name: BBLE, Length: 1070994, dtype: object